# Discord
DISCORD_TOKEN=your_discord_token
CLIENT_ID=your_client_id

# Forum
FORUM_USERNAME=your_forum_username
FORUM_PASSWORD=your_forum_password

# Optional
DEBUG=true/false
PORT=3000
ENABLE_MIN_LENGTH_FILTER=true/false
MIN_MESSAGE_LENGTH=1500
